/********************************
 * Generale CSS
 * 
 * ************************************/
 
 * {
    box-sizing: border-box;
   
   /*da mettere sempre per i siti responsive*/
   }
   
   
   header{
   
      
       align-items: center;
       justify-content: space-between;
       background-color: #005792;
       color: white;
       padding: 20px;
       flex-wrap: wrap;
       text-align: center;
   }
   
   .logo {
   height: 110px;
   
    
   
   
   }
   .info {
   
       font-size: 0.9em; 
     }
   .info a{
     color: white;
   
   }
   nav{
   
     float: left;
     width: 20%;
     text-align: center;
   
   }
   
   nav a{
     overflow: auto;
     background-color: #e5e5e5;
     padding: 8px;
     margin-top: 7px;
     display: block;
     width: 100%;
     color: black;
   
   }
   
   
   
   article{
   
     float: left;
     width: 60%;
     padding: 0px 20px;
     text-align: center;
     font-family: Verdana, sans-serif ;
   
   }
   .demo {
    list-style-type: none;
    margin: 0;
    padding: 0;
  } 

   article h1{
     color: #005792;
     text-align: center;
     font-size: 1.5em;
   
   }
   article a{
     text-align: center;
     color: red;
   }
   article logo{

   }

   .download-box{

   }
   aside{
       background-color: #005792;
     float: left;
     width: 20%;
       padding: 15px;
       margin-top: 7px;
       text-align: center;
       color: white;
   }
   
   section::after{
        content: "";
        display: table;
        clear: both;
   }
   
   footer{
     background-color: #e5e5e5;
     text-align: center;
     padding: 10px;
     margin-top: 7px;
   }
   
   @media only screen and (max-width:900px){
   
   nav, article, aside {
   
     width: 100%;
   }
   
   }
   
   
